{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head<>
    <title>Gearlist</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheet.css"/>
  </head>
  <body>
    <div>
      <ul>
        <li class="nav-item nav-home"><a href="#">Nav1</a></li>
        <li class="nav-item"><a href="#">Nav2</a></li>
        <li class="nav-item"><a href="#">Nav3</a></li>
      </ul>
        <!-- <h1><a href='/'>Gearlist</a></h1>
        <p>There are {{count}} items in your gearlist.</p> -->
    </div>
    <div>
      <div id='app'></div>
      {% render_bundle 'main' %}
    </div>
  </body>
</html>